<section class="contact-home-1 dt-section bg-image" style="background-image:linear-gradient(90deg, rgba(24, 28, 49, 1), rgba(0, 0, 0, 0)), url({{file_url(content.field_image['#items'].entity.uri.value)}});">
    <div class="container">
        <div class="content">
            <span>{{content.field_tagline.0}}</span>
            <h3>{{content.field_title.0}}</h3>
            <div class="form-style-3">
                {{content.field_form.0}}            
            </div>
        </div>
    </div>
</section>