<section class="achievements-style-2 achievements-style-3 dt-section">
    <div class="container">
        <div class="row s-75">
            {{content.field_widget}}
        </div>
    </div>
</section>