<section class="projects-3-grid projects-2-grid projects-tab">
    <div class="row s-15 projects-lists">
        {% for row in rows %}
            {{row.content}}
        {% endfor %}
    </div>
</section>