<section class="projects-list-full-width projects-tab">
    <div class="projects-lists">
        <div class="container">
            {% for row in rows %}
                {{row.content}}
            {% endfor %}
        </div>
    </div>
</section>
