<div class="masonry-style-2 projects-tab-masonry dt-section">
    <div class="row s-7-5 projects-lists">
        {% for row in rows %}
            {{row.content}}
        {% endfor %}
    </div>
</div>