<section class="projects-2-grid projects-tab dt-section">
    <div class="row s-30 projects-lists">
        {% for row in rows %}
            {{row.content}}
        {% endfor %}
    </div>
</section>