<section class="projects-grid-sidebar dt-section">
  <div class="container">
    <div class="row s-25">
      <div class="col-lg-4 col-12">
        <div class="project-grid-header">
          {{header}}
        </div>
      </div>
      <div class="col-lg-8 col-12">
        <div class="project-grid-content">
          {{rows}}
        </div>
      </div>
    </div>
  </div>
</section>