<section class="faq-section dt-section">
    <div class="container">
        <div class="accordion-style-1" id="accordionOne">
            {{content.field_widget}}
        </div>       
    </div>    
</section>