<section class="sections-common-padding">
    <div class="container">
        {% if content.field_title.0 %}
        <h2>{{content.field_title.0}}</h2>
        {% endif %}
        {{content.field_view.0}}
    </div>
</section>