<section class="page-banner bg-image dt-section" style="background-image: linear-gradient(rgba(27, 31, 41, 0.72), rgba(27, 31, 41, 0.72)) , url('{{fields.field_banner_image.content}}');">
    <div class="container">
        <div class="heading">
            <h1>{{fields.name.content}}</h1>
        </div>
    </div>
    <div class="banner-breadcrumb">
        {{drupal_block('system_breadcrumb_block')}}
    </div>
</section>