{#
/**
 * @file
 * Template for the observatory menu.
 */
#}
{% if items %}
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/oportunidades">Oportunidades</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/datos">Acceso a datos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/tematicas">Temáticas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/acerca-de">Acerca de</a>
    </li>
  </ul>
{% endif %} 