<section class="home-slider-1 bg-image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)) , url({{file_url(content.field_image['#items'].entity.uri.value)}});">
    <div class="slider-1-home owl-carousel owl-theme">
        {{content.field_widget}}
    </div>
    <div class="container">
    </div>
</section>
