<section class="services-list-full-width">
    <div class="services-style-4">
        <div class="container">
            {% for row in rows %}
                {{row.content}}
            {% endfor %}
        </div>
    </div>
</section>